html {
    font-family: Impact, Charcoal, sans-serif;
}

body {
    background-color: rgba(17, 34, 66, 0.76);
    margin: 0;
    padding: 0;
    height: 100vh;
}

h1 {
    color: white;
    letter-spacing: 4px;
    font-size: 56px;
}

#vsratcat {
    display: flex;
    align-self: flex-end;
    width: 50%;
}

#jsLog {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-color: white;
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.middleColumn {
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
}

.rightColumn {
    display: flex;
    flex-direction: column-reverse;
    justify-self: flex-end;
    flex: 1;
}

button:focus {
    outline: 0;
}

button:hover {
    background-color: cornflowerblue;
}

.taskButton {
    background-color: lightskyblue;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 0 0 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.logButton {
    background-color: lightskyblue;
    border: none;
    color: white;
    padding: 15px 30px;
    width: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
