.wrapper {
    font-family: Spectral;
    color: white;
    height: 100vh;
    background-image:
        linear-gradient(rgba(255, 35, 189, 0.27),
        rgba(81, 250, 255, 0.11)),
        url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
    grid-template-rows: 30vh auto;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-areas: "header header header"
        "containter container container";
}

.header {
    background-color: rgba(122, 39, 54, 0.69);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    text-transform: uppercase;
    grid-area: header;
}

.menu {
    line-height: 32px;
    background-color: rgba(0, 0, 0, 0.55);

    display: grid;
    grid-template-rows: 100fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.link {
    text-decoration: none;
    color: #ffffff;
}

.header-title {
    font-family: Fjalla One;
    font-size: 120px;
    line-height: 200px;
}

.container {
    align-content: center;

    display: grid;
    grid-template-columns: 5vw 320px 2fr 1fr 5vw;
    grid-row-gap: 50px;
    grid-column-gap: 30px;
    grid-template-areas: ". sidebar log notice .";
}

.module {}

.sidebar-module {
    grid-area: sidebar;

}

.content-module {
    grid-area: log;
    justify-self: center;
}

.content-module__js-log {
    background-color: #ebebeb;
    width: 500px;
    height: 500px;
    border: 2px rgba(0, 0, 0, 0.70) solid;
    box-sizing: border-box;

    color: black;
    font-size: 28px;
}

.note_module {
    grid-area: notice;
}

.button {
    font-family: Spectral;
    line-height: 30px;
    font-size: 24px;
    color: #ffffff;
    background-color: #7a2736;
    border: none;
    margin: 8px auto 8px;
    outline: none;
}

.button:hover {
    background-color: crimson;
}

.content-module__clear-button {}