input {
    height: 2rem;
    margin: 2px;
    width: 4rem;
}
#task06container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btnCalc {
    margin: 5px;
   padding: 10px 26px;
   width: 120px;
   transition: 0ms;
}